.App {
  /* text-align: center; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
}

.leftSide {
  width: 50vw;
  padding-top: 20px;
}

.leftSide a {
margin-left: 25px;
}

.rightSide {
  padding-top: 20px;
  padding-right: 15px;
}

.rightSide a {
  margin: 0 10px;
}

.aboutContent {
  display: flex;
  background-color: burlywood;
  width: 100%;
  height: 500px;
  justify-content: center;
}

.aboutText {
  position: relative;
  height: 100px;
  width: auto;
}

