@font-face {
    font-family: 'Korolev';
    src: url(fonts/Korolev/Korolev.ttf);
}

@font-face {
    font-family: 'Philosopher';
    src: url(fonts/Philosopher-Regular.ttf);
}

.dark {
    --text-color: #b0b3b8;
    --page-background-color: #242526;
    --card-backgorund-color: #3a3b3c;
    --recipie-background-color: #555f5e;
    --recipie-text-color: #ededee;
    --form-text-background: #f8f9fa;
    --change-language-background: #555f5e;
}

.light {
    --text-color: #a05841;
    --page-background-color: #ededee;
    --card-backgorund-color: #fefefe;
    --recipie-background-color: #fefefe;
    --recipie-text-color: #000;
    --form-text-background: #fefefe;
    --change-language-background: #dadada
}

.toPDF {
    width: 100%;
}

body {
    width: 100%;
    background-color: var(--page-background-color);
    font-family: 'Korolev';
}

.darkTheme {
    background-color: #242526;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    font-size: 30px;
    margin: 0 100px;
    padding: 0;
}

.navbar a {
    color: #a05841;
}

.leftSide {
    width: 50%;
    padding: 20px 0;
    color: #a05841;
}

.rightSide {
    padding: 20px 0;
}

.rightSide a {
    margin: 0 10px;
}
.changeLanguage {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    color: var(--text-color);
    border: 1px solid var(--card-backgorund-color);
    padding-bottom: 5px;
    background-color: var(--change-language-background);
}
.aboutContent {
    padding: 40px 100px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.aboutText {
    position: relative;
    height: 100px;
    width: auto;
}

.date {
    color: #212529;
    font-size: 13px;
}

.carousel-inner {
    background-color: black;
}

.pic {
    height: 600px;
    object-fit: cover;
    opacity: 0.8;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.aboutPic {
    height: 530px;
    width: 350px;
    background-color: var(--card-backgorund-color);
    margin: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

.aboutPic h2 {
    font-size: 40px;
    margin-top: 60px;
}

.underscore {
    font-size: 60px;
    line-height: 60px;
    position: relative;
    bottom: 40px;
}

.icon {
    opacity: 0.9;
    object-fit: contain;
    max-width: 260px;
    height: 420px;
}

.buttonCardContainer {
    min-width: 600px;
}

.cardButton {
    text-align: center;
    color: white;
    font-size: 20px;
    height: 50px;
    background-color: #a05841;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    width: 150px;
}

.cardButton:hover {
    background-color: #D0B0A6;
    color: white;
    text-decoration: none;
}

.modal-open {
    font-family: 'Philosopher';
}

.modal-header {
    height: 170px;
    text-transform: uppercase;
}

.modal-title {
    font-size: 20px;
}

.modal-footer {
    height: 130px;
}

.closeButton {
    width: 160px;
    font-size: 20px;
    background-color: #84928e;
}

.close {
    font-size: 20px;
}

.todaysContent {
    box-sizing: border-box;
    padding: 25px 100px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.todays {
    width: 50%;
}

.todaysPic:hover {
    transition: 1s;
    filter: brightness(18%);
}

.recipieTitle {
    font-size: 40px;
    position: relative;
    bottom: 250px;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -80px;
    color: transparent;
    font-family: 'Philosopher';
}

.todaysDarken:hover .recipieTitle {
    font-weight: 600;
    color: #e7ebec;
}

.todaysDescript {
    font-family: 'Philosopher';
    background-color: var(--card-backgorund-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.todaysDescript h2 {
    font-size: 20px;
    position: relative;
    margin-bottom: 0;
}

.aboutTodays {
    font-size: 20px;
    position: relative;
    bottom: 40px;
    text-align: center;
    padding: 0 40px;
}

.secondUnderscore {
    font-size: 50px;
    position: relative;
    bottom: 40px;
}

.todaysPic {
    width: 100%;
    object-fit: cover;
    height: 400px;
    box-sizing: border-box;
    cursor: pointer;
}

.addYours:before {
    content: '';
    margin: 120px 0;
    width: 100%;
    height: 5000px;
    position: absolute;
    background-image: url('pictures/background-n.png');
    background-repeat: repeat;
    background-size: 500px;
    opacity: 0.5;
}

.addYours {
    display: flex;
    justify-content: center;
    align-self: center;
    height: auto;
}

.createRecipie {
    font-size: 40px;
    width: 400px;
    left: 100px;
    font-weight: 600;
    padding-top: 80px;
    height: 300px;
    position: absolute;
    font-family: 'Philosopher';
    opacity: 0.7;
    color: #b0b3b8;
}

.form {
    margin: 140px;
    height: 700px;
    box-sizing: border-box;
    width: 40%;
    position: absolute;
    padding: 60px 0;
    background-color: rgba(252, 252, 252, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Philosopher';
}

.form-label {
    font-size: 20px;
}

.form-control {
    height: 50px;
    font-size: 18px;
    width: 600px;
    background-color: var(--form-text-background);
    
}

.button {
    left: 32%;
    font-size: 15px;
    margin-top: 15px;
    position: relative;
    width: 120px;
}

.recipieContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    top: 1000px;
}

.card {
    margin: 20px;
    min-width: 350px;
    max-width: 500px;
    font-family: 'Philosopher';
    padding: 20px;
    height: fit-content;
    background-color: var(--recipie-background-color);
    color: var(--recipie-text-color);
}

.modal-content {
    width: 700px;
}

.titleModalContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px
}

.titleContainer {
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.titleHeader {
    padding: 15px;
    width: 50%;
    height: auto;
}

.titleHeader h2 {
    text-transform: uppercase;
    font-size: 20px;
}

.recipieLabelContainer {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #acc3a7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.badgePaddingContainer {
    padding: 10px 20px;
}

.badgeIngContainer {
    margin: 10px;
    width: 100%;
    word-break: break-all;
}

.badgeIngredient {
    word-wrap: break-word;
    font-size: 17px;
    white-space: normal;
    text-align: left;
}

.recipieLabel {
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
}

.containerPdf {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.generatePdf {
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: #acc3a7;
    border: 2px solid #7f8b89;
    color: white;
    font-weight: 500;
}

.generatePdf:hover {
    background-color: #81908a;
}

.badgeLabel {
    font-size: 17px;
    margin: 10px;
    background-color: #84928e;
}

.methodContainer {
    padding: 20px;
    page-break-inside: auto;
}

.method {
    font-size: 17px;
}

.col-lg-8 {
    margin-left: 50px;
}

p {
    margin-bottom: 0px;
}

.deleteBtn {
    box-sizing: border-box;
    display: flex;
    align-self: end;
    text-align: center;
    height: 40px;
    padding: 0;
    background-color: transparent;
    color: black;
    border: none;
}

.deleteBtn:hover {
    background-color: transparent;
    color: #899b90;
}

.carouselContainer {
    margin: 0 100px;
}

.carousel-caption {
    display: flex;
    justify-content: center;
}

.logo {
    width: 700px;
    position: relative;
    bottom: 150px;
}

.recipieWebsite:before {
    content: '';
    margin: 120px 0;
    width: 100%;
    height: 5000px;
    position: absolute;
    background-image: url('pictures/background-n.png');
    background-repeat: repeat;
    background-size: 500px;
    opacity: 0.5;
}

.recipieWebsite {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    height: auto;
}

.subTitle {
    position: unset;
    bottom: 0;
}

@media (max-width: 1760px) {
    .aboutPic {
        height: 400px;
        width: 300px;
    }
    .cardButton {
        text-align: center;
        font-size: 16px;
        height: 30px;
        width: 80px;
        bottom: 18px;
    }
    .aboutPic h2 {
        font-size: 35px;
    }
    .underscore {
        font-size: 28px
    }
    .icon {
        max-width: 200px;
        height: 350px;
    }
    .createRecipie {
        width: 250px;
    }
}

@media (max-width: 1560px) {
    .aboutPic {
        height: 400px;
        width: 500px;
    }
    .cards {
        display: flex;
        justify-content: center;
        align-items: unset;
        flex-wrap: wrap;
    }
    .icon {
        max-width: 300px;
        height: 300px;
    }
    .cardButton {
        left: 150px;
        background-color: transparent;
        color: var(--text-color);
        font-size: 20px;
        height: 40px;
        width: 120px;
        top: 210px;
    }
    .aboutPic h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .buttonCardContainer {
        margin-bottom: -80px;
    }
    .underscore {
        display: none;
    }
    .cardButton:hover {
        background-color: #a05841;
        border-radius: 20px;
    }
    .form {
        width: 50%;
    }
}

@media (max-width: 1280px) {
    .aboutPic {
        height: 400px;
        width: 400px;
    }
    .cardButton {
        left: 130px;
        width: 100px;
    }
    .todaysDescript h2 {
        font-size: 20px;
        margin-top: 10px;
    }
    .aboutTodays {
        font-size: 15px;
    }
    .recipieTitle p {
        font-size: 20px;
    }
    .createRecipie {
        font-size: 20px;
    }
    .form {
        padding: 0;
        width: 50%;
        height: 600px;
    }
    .form-label {
        font-size: 16px;
    }
    .form-control {
        height: 40px;
        font-size: 16px;
        width: 500px;
    }
    .recipieContainer {
        top: 800px
    }
    @media (max-width: 1080px) {
        .aboutPic {
            height: 400px;
            width: 370px;
        }
        .navbar {
            font-size: 20px;
            margin: 0 20px;
        }
        .changeLanguage{
            width: 30px;
            height: 30px;
            line-height: 5px;
            padding-bottom: 0;
        }
        .carouselContainer {
            margin: 0;
        }
        .aboutContent {
            padding: 40px 0px;
        }
        .aboutPic h2 {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .todaysContent {
            padding: 25px 0px;
        }
        .form {
            width: 70%;
        }
        .logo {
            width: 500px;
        }
    }
    @media (max-width: 735px) {
        .leftSide {
            width: 100vw;
            padding-top: 10px;
            padding-bottom: 0px;
        }
        .rightSide {
            padding: 10px 0;
            width: 100vw;
            align-self: flex-end;
        }
        .rightSide {
            margin-right: 10px;
            margin-left: 0;
            display: flex;
            justify-content: flex-end;
        }
        .pic {
            height: 400px;
        }
        .logo {
            bottom: 80px;
        }
        .todays {
            width: 100%;
        }
        .todaysDescript {
            height: 400px;
        }
        .form {
            width: 100%;
        }
    }
    @media (max-width: 525px) {
        .logo {
            width: 300px;
            bottom: 70px;
        }
        .pic {
            height: 300px;
        }
        .createRecipie {
            width: 300px;
            left: 50%;
            transform: translateX(-50%);
        }
        .form-label {
            font-size: 18px;
        }
        .form-control {
            height: 40px;
            font-size: 16px;
            width: 90vw ;
        }
    }
    @media (max-width: 460px) {
        .card {
            min-width: 340px;
        }

        .cardButton {
            left: 100px;
            top: 20px;
        }

        .buttonCardContainer {
            margin-bottom: 0;
        }

        .aboutPic h2 {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}